## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=5
print(a)

5

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [4]:
nombre= "Mario Campana"

5) Crear una variable que contenga un número complejo

In [5]:
num=5+1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(num)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
x=True
y="True"

No son lo mismo, x es un booleano mientras que y es una cadena.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
type(x)
type(y)

str

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
var=1+1.2

11) Realizar una operación de suma de números complejos

In [11]:
num1=5+8j
num2=4+4j
print(num1+num2)

(9+12j)

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
num3=5.4
num4=2+2j
print(num3+num4)

(7.4+2j)

13) Realizar una operación de multiplicación

In [13]:
print(3*4)

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
z = 27/4
print(z)

6.75

16) De la división anterior solamente mostrar la parte entera

In [16]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [18]:
print(6 * 4 +3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [19]:
variable1= "Mario "
variable2= "Campana"
print(variable1 + variable2)

Mario Campana

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [20]:
(2 == "2")

False

"2" es una cadena mientras que 2 es un entero

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [21]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [22]:
a = float("3,8")

ValueError: could not convert string to float: '3,8'

Debe usarse el punto para separar los decimales.

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [ ]:
cantidad_manzanas = 3
cantidad_manzanas -=1
print(cantidad_manzanas)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
1 << 2

4

El número 1 se representa en binario como 0001. Lo desplazamos 2 lugares a la izquierda con la instrucción.
Por lo que el resultado sería 0100, que en números binarios significa 4.

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Si ambos fueran enteros el resukltado sería 4. Si fueran ambos cadenas el resultado sería 22.

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
nombre_completo = "Mario Campana "
print(nombre_completo * 3)

Mario Campana Mario Campana Mario Campana